<ion-header #header>
  <ion-toolbar color="hakuy-dongker">
    <ion-buttons slot="start">
      <ion-back-button color="hakuy-white-dongker"></ion-back-button>
    </ion-buttons>
    <ion-title #label>Daftar Pekerja</ion-title>
    <!-- style="visibility: hidden;" -->
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- appCustomHeader [header]="header" [label]="label" -->
  <!-- <ion-label padding color="hk-white-red" style="font-size: 34px; font-weight: bold;">Notifications</ion-label> -->

  <ion-searchbar showCancelButton="focus" placeholder="Search Karyawan" color="light" style="width: 90%; margin: 0 auto;"
    mode="ios">
  </ion-searchbar>

  <ion-card *ngFor="let pekerjaData of pekerjaDatas">
    <div class="ion-text-start" padding>
      <ion-text>Id Pekerja : {{ pekerjaData.szidpekerja }}</ion-text> <br>
      <ion-text>Nama Pekerja : {{ pekerjaData.sznamapekerja }}</ion-text> <br>
      <ion-text>Nama Proyek : {{ pekerjaData.sznamaproyek }}</ion-text> <br>
      <!-- <ion-text> <br/> <img src="{{ pekerjaData.szimage }}" class="center" /></ion-text> -->
    </div>
  </ion-card>

</ion-content>