<hr width="90%">

<ion-card *ngFor="let requestData of requestDatas" (click)="IsAnyIncident(requestData.namaPekerja)">
  <ion-item lines="none" color="transparent">
    <ion-label>{{ requestData.namaPekerja }}</ion-label>
    <ion-button shape="round" slot="end" *ngIf="requestData.szStatusId == 'ST001'" color="hk-green">
      APD Lengkap</ion-button>
    <ion-button shape="round" slot="end" *ngIf="requestData.szStatusId == 'ST002'" color="hk-red">
      APD Tidak Lengkap</ion-button>
  </ion-item>
  <div class="ion-text-start" padding style="padding-top: 0px">
    <ion-text><img src="{{ requestData.szReasonImage }}" class="center" /></ion-text>
  </div>
</ion-card>